* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
}

/* @keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
} */

/* @keyframes drop-in {
    from {
        transform: rotate(-30deg) translateY(-100%);
        opacity: 0;
    }

    to {
        transform: rotate(0deg) translateY(0%);
        opacity: 1;
    }
} */

/* @keyframes spin {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
} */

/* @keyframes fancy-spin {
    0% {
        transform: rotate(0turn) scale(1);
    }

    25% {
        transform: rotate(1turn) scale(1);
    }

    50% {
        transform: rotate(1turn) scale(1.5)
    }

    75% {
        transform: rotate(0turn) scale(1.5);
    }

    100% {
        transform: rotate(0turn) scale(1);
    }

} */

@keyframes grow-shrink {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

.box {
  border: solid 1px black;
  background-color: violet;
  margin-top: 100px;
  margin-left: 100px;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  /* animation: slide-in 1000ms; */
  /* animation: drop-in 1s; */
  /* animation: spin 1s; */
  /* animation: fancy-spin 5s; */
  animation: grow-shrink 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@media (prefers-reduced-motion) {
  .box {
    animation-iteration-count: 0;
  }
}
